<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Octolink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37D2B5251CBAB8D90038B847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2B53E1CBAB8DA0038B847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2B5491CBAB8DA0038B847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
